@{
    ViewBag.Title = "Жизненный цикл документа";
}

<h2 style="text-align: center;">@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Вернуться к списку документов", "Index")
</div>

<div class="workflow-img">
    <img src= "/Content/img/workflow.png" alt="Жизненный цикл документа" />
</div>