@{
    ViewBag.Title = "Ошибка";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Вернуться к списку документов", "Index")
</div>

<p>@Model</p>
<p>
    Для более подробной информации перейдите по ссылке, чтобы ознакомиться c  
    @Html.ActionLink("жизненным циклом документа", "Workflow")
</p>
<p>Если у Вас возникли проблемы или вопросы, обратитесь к администратору.</p>
