@{
    ViewBag.Title = "Ошибка";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Вернуться к списку документов", "Index")
</div>

<p>@Model</p>
<p>Вы можете обратиться к администратору для решения данной проблемы</p>
<p>
    Вы, так же, можете ознакомиться с жизненным циклом документа по этой ссылке: 
    @Html.ActionLink("Жизненный цикл документа", "Workflow")
</p>
