@{
    ViewBag.Title = "Панель администратора";
}

<h2>@ViewBag.Title</h2>

<div>
    @Html.ActionLink("Список огранизаций", "OrganizationList")
</div>
<div>
    @Html.ActionLink("Список пользователей", "UserList")
</div>