@{
    ViewBag.Title = "Панель администратора";
}

<h2>@ViewBag.Title</h2>

<div class="admin-pane">
    <div class="action">
        @Html.ActionLink("Список огранизаций", "OrganizationList")
    </div>
    <div class="action">
        @Html.ActionLink("Список пользователей", "UserList")
    </div>
</div>
